@page "/"
@attribute [StreamRendering]
@using CocktailDbSite.Application.Services
@using CocktailDbSite.Domain.Models
@using CocktailDbSite.Domain.Models.DrinkModels
@using CocktailDbSite.Domain.Models.WebpageModels
@rendermode InteractiveServer
@inject CocktailDbService CocktailDbService

<PageTitle>Cocktail Bar</PageTitle>

<div class="header">
    <img class="container max-height: 100px;" alt="cocktails" src="https://advancedmixology.com/cdn/shop/articles/Five_kinds_of_classic_cocktails.jpg?v=1631787354&width=800"/>
    <div class="d-flex justify-content-around pt-3">
        <img alt="company logo" src="#"/>
        <h1 class="justify-content-center">Welcome to the cocktail bar</h1>
        <div>
            <img alt="user img" src="#"/>
            <p id="login-status">Logged In</p>
        </div>
    </div>

</div>  

<div id="loggedIn" >
    <div class="d-flex justify-content-around">
        <input type="text" placeholder="Search" class="border border-black w-50"/>
        <button class=".bg-dark border-radius text-black w-25">Filter</button>

    </div>
    
    <hr/>
    
    
    @if (_drinksList != null)
    {
        <div class="d-flex align-items-stretch justify-content-around">
            <div id="non-alcoholic">
                <div>
                    <h2 class="border border-black">Non Alcoholic</h2>
                </div>
                <ul id="non-alcoholic-list" class="list-unstyled">
                    @if (_drinksList.NonAlcoholicDrinks.Any())
                    {
                        @foreach (Drink drink in _drinksList.NonAlcoholicDrinks)
                        {
                            <li class="pt-3">
                                <div class="card">
                                    <div class="card-body">
                                        <button id="@drink.Id">See more</button>
                                        <p class="card-title">@drink.Name</p>
                                        <img alt="drink-image" src="@drink.DrinkThumbnailUrl" style="height: 250px; width: 250px;"/>
                                    </div>
                                </div>
                            </li>
                        }
                    }
                </ul>
            </div>
            <div class="vr mx-3 align-self-stretch"></div>
            <div id="alcoholic">
                <div>
                    <h2 class="border border-black">Alcoholic</h2>
                </div>
                <ul id="alcoholic-list" class="list-unstyled">
                    @if (_drinksList.AlcoholicDrinks.Any())
                    {
                        @foreach (Drink drink in _drinksList.AlcoholicDrinks)
                        {
                            <li class="pt-3">
                                <div class="card">
                                    <div class="card-body">
                                        <button id="@drink.Id" @onclick="GenerateModel"></button>
                                        <p class="card-title">@drink.Name</p>
                                        <img alt="drink-image" src="@drink.DrinkThumbnailUrl" style="height: 250px; width: 250px;"/>

                                    </div>
                                </div>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    }
</div>




<div id="notLoggedIn" class="d-none">
    <div class=".d-flex visible justify-content-center align-content-center">
        <h1 class="text-center">Login</h1>
        <p class="text-center">Username:</p>
        <div class="d-flex justify-content-center align-content: center pb-4">
            <input class="border border-black" type="text" placeholder="enter username"/>
        </div>
        <p class="text-center">Password:</p>
        <div class="d-flex justify-content-center align-content: center pb-4">
            <input class="border border-black" type="text" placeholder="enter username"/>
        </div>
    </div>
</div>


@code {
    private HomepageDrinkLists? _drinksList = new HomepageDrinkLists();

    protected override async Task OnInitializedAsync()
    {
        _drinksList = await CocktailDbService.GetHomepageDrinksAsync() ?? new HomepageDrinkLists();
    }

    private void GenerateModel()
    {
        
    }
    

}