@page "/"
@attribute [StreamRendering]
@using System.Security.Claims
@using CocktailDbSite.Application.Services
@using CocktailDbSite.Application.Services.WebpageServices
@using CocktailDbSite.Client.Components.Account
@using CocktailDbSite.Domain.Models
@using CocktailDbSite.Domain.Models.DrinkModels
@using CocktailDbSite.Domain.Models.UserLists
@using CocktailDbSite.Domain.Models.WebpageModels
@rendermode InteractiveServer
@inject CocktailDbService CocktailDbService
@inject UserListService UserListService
@inject ToastService ToastService

<PageTitle>Cocktail Bar</PageTitle>

<AuthorizeView>
    <NotAuthorized>
        <RedirectToLoginComponent />
    </NotAuthorized>
    <Authorized>
        <div id="loggedIn">
            <div class="d-flex justify-content-center">
                <img class="container max-height: 100px; rounded-5"
                     alt="cocktails"
                     src="https://advancedmixology.com/cdn/shop/articles/Five_kinds_of_classic_cocktails.jpg?v=1631787354&width=800"/>
            </div>
            <div class="d-flex justify-content-center mt-4">
                <input @bind-value="_searchQuery" type="text" placeholder="Search" class="border border-black w-50"/>
                <button class="btn btn-dark border-radius text-white" @onclick="SearchDrinks">Search</button>

            </div>

            <hr/>

            @if (_drinksList != null)
            {
                <div class="d-flex align-items-stretch justify-content-around">
                    <div id="non-alcoholic">
                        <div>
                            <h2 class="border border-black">Non Alcoholic</h2>
                        </div>
                        <ul id="non-alcoholic-list" class="list-unstyled">
                            @if (_drinksList.NonAlcoholicDrinks.Any())
                            {
                                @foreach (Drink drink in _drinksList.NonAlcoholicDrinks)
                                {
                                    <li class="pt-3">
                                        <div class="card">
                                            <div class="card-body">
                                                <button class="btn-primary" @onclick="() => GenerateModal(drink.Id)">See More</button>
                                                <button disabled="@_isButtonsDisabled" class="btn-secondary" @onclick="() => AddDrinkToUserList(context, drink.Id)">Add To List</button>
                                                <p class="card-title">@drink.Name</p>
                                                <img alt="drink-image" src="@drink.DrinkThumbnailUrl" style="height: 250px; width: 250px;"/>
                                            </div>
                                        </div>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                    <div class="vr mx-3 align-self-stretch"></div>
                    <div id="alcoholic">
                        <div>
                            <h2 class="border border-black">Alcoholic</h2>
                        </div>
                        <ul id="alcoholic-list" class="list-unstyled">
                            @if (_drinksList.AlcoholicDrinks.Any())
                            {
                                @foreach (Drink drink in _drinksList.AlcoholicDrinks)
                                {
                                    <li class="pt-3">
                                        <div class="card">
                                            <div class="card-body">
                                                <button class="btn-primary" @onclick="() => GenerateModal(drink.Id)">See More</button>
                                                <button disabled="@_isButtonsDisabled" class="btn-secondary" @onclick="() => AddDrinkToUserList(context, drink.Id)">Add To List</button>
                                                <p class="card-title">@drink.Name</p>
                                                <img alt="drink-image" src="@drink.DrinkThumbnailUrl" style="height: 250px; width: 250px;"/>
                                            </div>
                                        </div>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            }
        </div>

    @if (_modalVisible)
        {
            <div id="modal" class="modal d-block">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content bg-black">
                        <div class="modal-header" style="background-color: #3a0647;">
                            <h3 class="modal-title">@drinkName Info</h3>
                            <button type="button" class="btn-close btn-close-white" @onclick="CloseModal"></button>
                        </div>
                        <div class="modal-body">
                            <div class="d-flex justify-content-evenly">
                                <div>                           
                                    <p id="drinkName">Cocktail: @drinkName</p>
                                    <p id="category">Drink Type: @category</p>
                                    <p id="glassType">Glass Type: @glassType</p>
                                    <p id="instructions">Instructions: @instructions</p>
                                    <div id="ingredientMeasurement"class="d-flex justify-content-around">
                                        <div>
                                            @if (Ingredients != null && Ingredients.Any())
                                            {
                                                <p>Ingredients</p>
                                                <ul>
                                                    @foreach (var ingredient in Ingredients)
                                                    {
                                                        <li>@ingredient</li>
                                                    }
                                                </ul>
                                            }
                                        </div>
                                        <div>
                                            @if (Measurements != null && Measurements.Any())
                                            {
                                                <p>Measurements</p>
                                                <ul class="list-unstyled">
                                                    @foreach (var measurement in Measurements)
                                                    {
                                                        <li>@measurement.Amount @measurement.Unit</li>
                                                    }
                                                </ul>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <img style="width: 300px;" alt="drink image" src="@drinkThumb"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </Authorized>
</AuthorizeView>


@code {
    private bool _isButtonsDisabled = false;
    private bool _modalVisible = false;
    private bool _modalLoaded = false;
    private string drinkName = "";
    private string category = "";
    private string glassType = "";
    private string instructions = "";
    private List<string> Ingredients = new List<string>();
    private List<Measurement> Measurements = new List<Measurement>();
    private HomepageDrinkLists? _drinksList = new HomepageDrinkLists();
    private string _searchQuery = string.Empty;
    private string drinkThumb;

    private async Task AddDrinkToUserList(AuthenticationState authState, int drinkId)
    {
        _isButtonsDisabled = true;
        if (await UserListService.ApplicationUserIdAndDrinkIdExists(authState.User.FindFirst(ClaimTypes.NameIdentifier)?.Value ?? "", drinkId))
        {
            var userId = authState.User.FindFirst(ClaimTypes.NameIdentifier)?.Value ?? string.Empty;
            if (string.IsNullOrWhiteSpace(userId))
            {
                _isButtonsDisabled = false;
                return;
            }
            UserList userList = await UserListService.GetFromApplicationUserIdAndDrinkId(userId, drinkId);
            userList.Quantity += 1;
            await UserListService.UpdateUserList(userList);
            ToastService.ShowToast("Added to list!", "Successfully added the drink to your list.");
            _isButtonsDisabled = false;
        }
        else
        {
            var userId = authState.User.FindFirst(ClaimTypes.NameIdentifier)?.Value ?? string.Empty;
            if (string.IsNullOrWhiteSpace(userId))
            {
                _isButtonsDisabled = false;
                return;
            }
            UserList userList = new UserList();
            userList.ApplicationUserId = userId;
            userList.CocktailDbId = drinkId;
            userList.Quantity = 1;
            await UserListService.AddNewUserList(userList);
            ToastService.ShowToast("Added to list!", "Successfully added the drink to your list.");
            _isButtonsDisabled = false;
        }
    }
    
    private async Task SearchDrinks()
    {
        if (string.IsNullOrWhiteSpace(_searchQuery))
        {
            _drinksList = await CocktailDbService.GetHomepageDrinksAsync();
            return;
        }

        _drinksList = await CocktailDbService.GetDrinksByName(_searchQuery);
        StateHasChanged();

    }

    protected override async Task OnInitializedAsync()
    {
        _drinksList = await CocktailDbService.GetHomepageDrinksAsync() ?? new HomepageDrinkLists();
    }

    private async Task<Drink> FindDrinkById(int id)
    {

        Drink drink = await CocktailDbService.GetDrinkById(id);
        return drink;
    }

    private async Task GenerateModal(int id)
    {
        _modalLoaded = false;
        

        Drink drink = await FindDrinkById(id);
        drinkName = drink.Name;
        category = drink.Category;
        glassType = drink.Glass;
        instructions = drink.Instructions;
        Ingredients = drink.Ingredients;
        Measurements = drink.Measurements;
        drinkThumb = drink.DrinkThumbnailUrl;

        _modalVisible = true;
        StateHasChanged();
    }

    private void CloseModal()
    {
        _modalVisible = false;
        StateHasChanged();
    }

}
